* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	background-color: rgb(5, 5, 5);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.resume-container {
	background-color: #9dd7db;
	width: 900px;
	height: 600px;
	border-radius: 20px;
	padding: 15px;
	border: 14px solid rgb(0, 0, 0);
	display: flex;
	/* Use flexbox to align child sections horizontally */
}

.left-section {
	width: 270px;
	height: 550px;
	border-radius: 20px;
	background-color: #ecffed;
	border: 2px solid rgb(41, 85, 41);
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin-top: 10%;
	margin-bottom: 20px;
	border: 2px solid rgb(41, 85, 41);
	object-fit: cover;
}

.text p {
	margin-bottom: 15px;
	font-size: 16px;
}

.career-objective h2 {
	font-size: 20px;
	margin-top: 10px;
}

.para {
	margin-top: 10px;
	font-size: 18px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
}

.right-section {
	width: 550px;
	height: 550px;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 20px;
	overflow-y: auto;
	margin-left: 20px;
}

.resume h2 {
	font-size: 24px;
	margin-bottom: 20px;
	margin-left: 50px;
}

.experience,
.education {
	background-color: #ecffed;
	padding: 15px;
	border-radius: 10px;
	border: 1px solid rgb(41, 85, 41);
}

.experience h3,
.education h3 {
	font-size: 25px;
	margin-bottom: 10px;
}

.entry {
	margin-bottom: 15px;
	font-size: 16px;
}

.entry p {
	margin-bottom: 5px;
}

.entry b {
	font-weight: bold;
}

.button {
	background-color: rgb(124, 146, 155);
	border-radius: 10px;
	margin-left: 10px;
	width: 200px;
	height: 35px;
}

.button h2{
	text-align: center;
}